/*style.css*/
:root{
    --main-color:#0D378C;
    --sub-color:#ef7b1a;
    --sub-color2:#eef7fd;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  color: #2D2B2B;
  background-color: #FAF7F7;
  font-family: "Segoe UI",sans-serif;
  margin: 0 auto;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}


/*팝업*/
.divpop {
  position: absolute; 
  z-index:999; 
  top:120px; left:300px;
  width:350px; height:580px; 
  border:1px solid black;
  background: #fff;
  background-image: url(./images/popup.png);
  background-repeat: no-repeat;
  background-position: center;
 
}

.title_area {
  font-weight:bold;
  text-align:center;
  width:100%;
  background-color: var(--main-color);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;

}

.button_area {
  position:absolute;
  bottom:20px;
  left:28px;
} 
.button_area a{
  margin-left: 10px;
}
/*header*/
.container{
    position: relative;
     margin: 0 auto;  
     width: 1636px;
}
header{
   
    height: 142px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    width: 1636px;
    
}
header h1{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
}
header nav.gnb1{
    position: absolute;
    right:-180px;
    top: 4px;
}
header nav.mainGnb{
    position: absolute;
    right: -240px;
    top: 70px;
    z-index: 99;
    width: 1000px;
}
 /*1단계 메뉴*/
header nav.mainGnb > ul > li{
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: bold;
    margin-right: 60px;
    
}   
    

header nav.gnb1 > ul > li{
  
  width: 400px;
}
header nav.gnb1 > ul > li a,span.line1{
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 8px;
}

header nav > ul > li a,span{
    color: var(--main-color);
}

/*2단계 메뉴*/
header  nav .depth2 {
  position: absolute;
    /* outline: 1px solid green; */
    margin-top: 15px;
    display: none;
    background-color: white;
  }
/* css로 할 경우
header nav > ul > li:hover > .depth2{
      display: block;
}
*/
header  nav .depth2 > li{
  width: 10em;
 padding: 15px;
}
header  nav .depth2 > li > a {
    display: block;
    font-size: 16px;
    color: #2D2B2B;
} /*자바로 할 경우*/
header  nav .depth2 > li > a:hover {
    
    color: var(--sub-color);
}

/*메인비쥬얼*/
#mainvisual{
  
  position: relative;
  
  margin: 0 auto;
}
.gallery{
    height: 750px;
    /* outline: 2px solid red; */
   }
  
  .gallery  a > img {
    position: absolute;
    width: 1636px;
    height: 750px;
    left: calc(50% - 1636px / 2);
  }
  #mainvisual > .container > .btn{
      border: none;
      background:none;
      color: rgba(255, 255, 255, 0.8);
      font-size: 55px;
      position: absolute;
      top: 48%;
      width: 80px;
  
  
  }
  #mainvisual > .container > .btn-next{
      position: absolute;
      right:0px;
  }
  /* 메인 콘텐츠 영역 */
  #main {
    padding-top: 95px;
    width: 1636px;
    margin: 0 auto;
    
  }
   #main > h3{
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
    color: #2D2B2B;
  }
  #main .container {
    display: flex;
    justify-content: space-around;
    width: 1400px;
  }
  #main .container > .col{
   
   
  }
  #main .container > .col:last-child{
    margin: 0;
  }

#main .col a{
  color: #2D2B2B;
  
}
#main .col a img{
  width: calc(1300px / 4);
}
#main .col h4 {
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
  }
#main .container2 {
  margin-top: 135px;
  position: relative;
  height: 747px;
  width: 1400px;
  margin: 135px auto;
}
#main .container2 > .circle{
  
  position: absolute;
  top: 70px;
}
#main .container2 .contents{
 position: absolute;
 right: 0px;
 text-align: center;
 top: 100px;
}
#main .container2 .contents > h2,h3{
  color: var(--main-color);
  
}
#main .container2 .contents > h2{
  font-size: 40px;
  padding-bottom: 10px;
}
#main .container2 .contents > h3{
  font-size: 35px;
  padding-bottom: 50px;
}
#main .container2 .contents > p.con {
  font-size: 25px;
  padding-bottom: 40px;
  line-height: 1.6em;
}
#main .container2 .contents > p.box{
  
  background-color: var(--main-color);
  width: 256px;
  height: 55px;
  padding: 13px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 130px;
  
}
#main .container2 .contents > p.box > a{
  color: white;
}
#main .container2 .contents > p.box:hover{
  background-color:rgba(13,55,140,0.8);
}
#main .container2 .contents > p.box:hover > a{
  color:white;
}
/*footer*/
footer {
  padding-top: 80px;
  font-size: 13px;
  color:var(--main-color);
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  width: 1636px;
  
}
.footContainer {
  padding-bottom: 30px;
}
.footContainer > .sns{
  padding-bottom: 10px;
}
.footContainer > .sns > ul > li{
  display: inline-block;
}
.footContainer > .sns > ul > li > a{
  padding: 15px;
  
}
.footContainer > .sns > ul > li > a img{
  width: 32px;
}
.footContainer > ul.footerMenu  > li{
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;

}

.footerMenu > li > a{
  color: #444;
}
.footerMenu > li > span{
  padding: 8px;
}

.footContainer p.address{
  font-size: 13px;
  color: #8D8A8A;
  line-height: 1.5em;
}
.footContainer p.copy{
  margin-top: 10px;
  color: #8D8A8A;
}
footer img.logo{
  width: 112px;
  height: 50px;
}